{{ define "main" }}

{{ "<!--contactHeader.html-->" | safeHTML }}
  <section class="page-headercontatti">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>{{ .Title }}</h2>
        </div>


        <div class="col-12">
          <p>
            Ing. Andrea Festi
            </p>
            {{ $address := .Site.Params.address }}
            <a href="tel:{{ $address.phone }}"><i class="ti-mobile"></i> {{ $address.phone }}</a>
            <br>
            <a href="mailto:{{ $address.email }}"><i class="ti-email"></i> {{ $address.email }}</a>
            <br>
            <p><i class="ti-pin"></i>{{ $address.address }}</p>
        </div>
        <div class="col-12">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2776.7008962074765!2d11.017626499999999!3d45.8972949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf96680eabc72916d!2sAndrea%20Festi!5e0!3m2!1sit!2sit!4v1664539801281!5m2!1sit!2sit" width="100%" height="100%" style="border:0; pointer-events:none" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        <div class="col-12">
          </div>
          <div class="col-12"></div>
          <p>
            Usa il modulo contatti per scrivermi di un'idea, di un suggerimento, di una proposta di collaborazione.
          </p>
          <p>Puoi anche inviami una
            <a href="mailto:{{ .Site.Params.email }}">email</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  

{{ "<!--contactForm.html-->" | safeHTML }}
  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <form id="contact-form" action="/pages/messaggioinviato" data-netlify="true" method="POST" class="contact-form row">
            <div class="col-lg-6">
              <input
                type="text"
                class="form-control"
                placeholder="Scrivi il tuo nome"
                name="Name"
                required
              />
            </div>
            <div class="col-lg-6">
              <input
                type="email"
                class="form-control"
                placeholder="Scrivi la tua Email"
                name="email"
                required
              />
            </div>
            <div class="col-12">
              <textarea
                class="form-control"
                placeholder="Scrivi il tuo messaggio"
                required
                cols="30"
                rows="7"
                name="message"
              ></textarea>
            </div>
            <div class="col-12">
              <button id="contact-form-button" class="btn btn-primary-filled" style="width:100%" type="submit" formtarget="_blank">
                Invia
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

 <!--

 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44438.439037451106!2d10.99552134008988!3d45.883263700984266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47820ec143127041%3A0x6a9664123aebfadf!2s38068%20Rovereto%20TN!5e0!3m2!1sit!2sit!4v1663772310709!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  -->

{{ end }}

